.contents__message__box{"data-message-id": "#{message.id}"}
  .contents__message__box__info
    .contents__message__box__info__user
      = message.user.name
    .contents__message__box__info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .contents__message__box__info__image
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?